<h2>About {{firstName}}</h2>

{{#if hasDates}}
  <div class="timeline">
    <div class="birthday">{{format-date birthday day="numeric" month="long" year="numeric"}}</div>
    <div class="today">{{format-date today day="numeric" month="long" year="numeric"}}</div>
  </div>
{{/if}}

<div class="content">
  {{#if about}}
    {{markdown-to-html markdown=about}}
  {{/if}}
</div>

<button class="expand" {{action 'expand'}}>Read more</button>
