<div class="interior">
  {{#if book.coverTopImageUrl}}
    <img class="coverTop" src="{{book.coverTopImageUrl}}" />
  {{/if}}

  {{#if book.coverImageUrl}}
    <img class="cover" src="{{book.coverImageUrl}}" />
  {{/if}}

  <div class="content">
    <div>
      {{#if book.isNew}}
        <div class="new">New</div>
      {{/if}}

      <div class="title">{{book.title}}</div>
      <div class="subtitle">{{book.subtitle}}</div>

      {{#if book.purchaseUrl}}
        <a href="{{book.purchaseUrl}}" class="button purchase">{{purchaseButtonLabel}}</a>
      {{/if}}

      {{#if linkLabel}}
        {{#link-to "book" book.id}}{{linkLabel}}{{/link-to}}
      {{/if}}

      {{book-release-div book=book}}
    </div>
  </div>
</div>
