<div class="logo">
  <img src="{{company.logoUrl}}" />
</div>
<div class="info">
  <h4>{{company.name}}</h4>
  <div class="tagline">{{company.tagline}}</div>
  <ul class="roles">
    {{#each company.positions as |position|}}
      <li>
        <div class="description">{{position.description}}</div>
        <div class="timespan">{{position.timespan}}</div>
      </li>
    {{/each}}
  </ul>
</div>