<h1>{{fullName}}</h1>
<div class="subheader">{{subheader}}</div>
<nav>
  {{#if about}}
    <a href="#about">About</a>
  {{/if}}

  {{#if book}}
    <a href="#books">Books</a>
  {{/if}}

  {{#if project.shortName}}
    <a href="#project">{{project.shortName}}</a>
  {{/if}}

  {{#if categories.length}}
    {{#each categories as |category|}}
      {{#if category.posts.length}}
        <a href="#category-{{category.id}}">{{category.name}}</a>
      {{/if}}
    {{/each}}
  {{else}}
    {{#if post}}
      <a href="#posts">Posts</a>
    {{/if}}
  {{/if}}

  {{#if photo}}
    <a href="#photos">Photos</a>
  {{/if}}

  {{#if checkin}}
    <a href="#checkins">Check-ins</a>
  {{/if}}

  {{#if company}}
    <a href="#companies">Companies</a>
  {{/if}}

  {{#if affiliation.shortName}}
    <a href="#affiliation">{{affiliation.shortName}}</a>
  {{/if}}

  {{#if affiliation}}
    <a href="#affiliations">Affiliations</a>
  {{/if}}

  {{#if publication}}
    <a href="#publications">Publications</a>
  {{/if}}

  {{#if skill}}
    <a href="#skills">Skills</a>
  {{/if}}

  {{#if link}}
    <a href="#links">Links</a>
  {{/if}}
</nav>

{{#if coverImageUrl}}
  <img src={{coverImageUrl}} />
{{/if}}
