{{#if sortedPhotos.length}}

  <h2>Photos</h2>
  
  <div class="thumbs">
    {{#each sortedPhotos as |photo|}}
      <a id="photo-{{photo.id}}" href="{{photo.imageUrl}}" style={{backgroundImageStyle photo.imageUrl}} {{action "viewPhoto" photo}}></a>
    {{/each}}
  </div>

  {{#if viewAll}}
    {{#link-to "photos"}}View all photos{{/link-to}}
  {{/if}}

{{/if}}

{{photoswipe-viewer}}