<h2>Photos</h2>

<div class="thumbs">
  {{#if sortedPhotos.length}}
    {{#each sortedPhotos as |photo|}}
      <a id="photo-{{photo.id}}" href="{{photo.imageUrl}}" style={{background-image-style photo.imageUrl}} {{action "viewPhoto" photo}}></a>
    {{/each}}
  {{else}}
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
  {{/if}}
</div>

{{#if sortedPhotos.length}}
  {{#if viewAll}}
    {{#link-to "photos"}}View all photos{{/link-to}}
  {{/if}}
{{/if}}

{{photoswipe-viewer}}