{{#if post.title}}
  <h1>{{post.title}}</h1>

  {{#if post.subtitle}}
    <div class="subtitle">{{post.subtitle}}</div>
  {{/if}}

  {{#if post.publication}}
    <div class="publication">{{post.publication}}</div>
  {{else if post.publishedAt}}
    <div class="published-at">{{format-date post.publishedAt day="numeric" month="long" year="numeric"}}</div>
  {{/if}}

  {{#if post.imageUrl}}
    <div class="image {{post.imageOrientation}} {{post.imageType}}" style={{background-image-style post.imageUrl}}></div>
  {{/if}}

  {{#if post.audioUrl}}
    <div class="audio">
      <audio src="{{post.audioUrl}}" controls="controls" />
    </div>
  {{/if}}

  {{#if bodyReady}}
    {{#if post.body}}
      <div class="body" id="post-{{post.id}}">{{compiled-markdown markdown=post.body}}</div>
    {{else if post.excerpt}}
      <div class="excerpt" id="post-{{post.id}}">{{compiled-markdown markdown=post.excerpt}}</div>
    {{/if}}
  {{/if}}

  {{#if post.url}}
    {{#if post.hasMedia}}
      <a class="url" href="{{post.url}}">Visit original publication &raquo;</a>
    {{else}}
      <a class="url button" href="{{post.url}}">Read in full</a>
    {{/if}}
  {{else if post.pdfUrl}}
    <a class="url button" href="{{post.pdfUrl}}">Read in full (PDF)</a>
  {{/if}}

{{else}}

  {{#if bodyReady}}
    <div class="body" id="post-{{post.id}}">{{compiled-markdown markdown=post.body}}</div>
  {{/if}}

  {{#if post.publishedAt}}
    <div class="published-at">{{format-date post.publishedAt day="numeric" month="long" year="numeric"}}</div>
  {{/if}}

{{/if}}
