<div>
  <h1>{{post.title}}</h1>
  <div class="published-at">{{formatDate post.publishedAt day="numeric" month="long" year="numeric"}}</div>
  {{#if post.photo}}
    <div class="image" style={{backgroundImageStyle post.photo.imageUrl}}></div>
  {{else}}
    <div class="image empty"></div>
  {{/if}}
  {{#if showPostBody}}
    <div class="body" id="post-{{post.id}}">{{component 'compiled-markdown' markdown=post.body}}</div>
  {{else}}
    <div class="body"></div>
  {{/if}}
</div>