{{#if post.title}}
  <h1>{{post.title}}</h1>
  {{#if post.publishedAt}}
    <div class="published-at">{{format-date post.publishedAt day="numeric" month="long" year="numeric"}}</div>
  {{/if}}

  {{#if post.imageUrl}}
    <div class="image {{post.imageOrientation}} {{post.imageType}}" style={{background-image-style post.imageUrl}}></div>
  {{/if}}

  {{#if bodyReady}}
    <div class="body" id="post-{{post.id}}">{{compiled-markdown markdown=post.body}}</div>
  {{/if}}
{{else}}
  {{#if bodyReady}}
    <div class="body" id="post-{{post.id}}">{{compiled-markdown markdown=post.body}}</div>
  {{/if}}
  <div class="published-at">{{format-date post.publishedAt day="numeric" month="long" year="numeric"}}</div>
{{/if}}
