<h2>Skills</h2>
<ul class="featured">
  {{#each featuredSkills as |skill|}}
    <li style={{background-image-style skill.imageUrl}}>{{skill.name}}</li>
  {{/each}}
</ul>
<ul class="main">
  {{#each skills as |skill|}}
    <li>
      <h5>{{skill.name}}</h5>
      <div class="description">
        {{skill.description}}
        {{#each skill.details as |detail|}}
          <small>{{detail}}</small>
        {{/each}}
      </div>
    </li>
  {{/each}}
</ul>
