<h2>Writing</h2>
<div class="featured">
  {{#if featuredPost}}
    {{#link-to "post" featuredPost.canonicalId class="featured-post"}}
      {{#if featuredPost.imageUrl}}
        <div class="image" style={{backgroundImageStyle featuredPost.imageUrl}}></div>
      {{/if}}
      <h3>{{featuredPost.title}}</h3>
      <div class="published-at">{{formatDate featuredPost.publishedAt day="numeric" month="long" year="numeric"}}</div>
      <div class="excerpt">{{featuredPost.excerpt}}</div>
    {{/link-to}}
  {{else if notLoaded}}
    <div class="featured-post-placeholder">
      <div class="image"></div>
      <p class="placeholder"></p>
      <p class="placeholder"></p>
      <p class="placeholder"></p>
      <p class="placeholder"></p>
    </div>
  {{/if}}
  <div class="featured-posts">
    {{#if featuredPosts}}
      {{#each featuredPosts as |post|}}
        {{#link-to "post" post.canonicalId}}
          {{#if post.imageUrl}}
            <div class="image" style={{backgroundImageStyle post.imageUrl}}></div>
          {{/if}}
          <div class="content">
            <h4>{{post.title}}</h4>
            <div class="published-at">{{formatDate post.publishedAt day="numeric" month="long" year="numeric"}}</div>
          </div>
        {{/link-to}}
      {{/each}}
    {{else if notLoaded}}
      <div class="featured-posts-placeholder"></div>
      <div class="featured-posts-placeholder"></div>
      <div class="featured-posts-placeholder"></div>
      <div class="featured-posts-placeholder"></div>
      <div class="featured-posts-placeholder"></div>
      <div class="featured-posts-placeholder"></div>
    {{/if}}
  </div>
</div>
<div class="more-posts">
  {{#if morePosts}}
    {{#each morePosts as |post|}}
      {{#link-to 'post' post.canonicalId}}
        <h4>{{post.title}}</h4>
        <div class="published-at">{{formatDate post.publishedAt day="numeric" month="long" year="numeric"}}</div>
      {{/link-to}}
    {{/each}}
  {{else if notLoaded}}
    <div class="more-posts-placeholder"><div></div></div>
    <div class="more-posts-placeholder"><div></div></div>
    <div class="more-posts-placeholder"><div></div></div>
    <div class="more-posts-placeholder"><div></div></div>
    <div class="more-posts-placeholder"><div></div></div>
    <div class="more-posts-placeholder"><div></div></div>
  {{/if}}
</div>