<h2>Writing</h2>
<div class="featured">
  {{#link-to "post" featuredPost.canonicalId class="featured-post"}}
    {{#if featuredPost.photo}}
      <div class="image" style={{backgroundImageStyle featuredPost.photo.imageUrl}}></div>
    {{/if}}
    <h3>{{featuredPost.title}}</h3>
    <div class="published-at">{{formatDate featuredPost.publishedAt day="numeric" month="long" year="numeric"}}</div>
    <div class="excerpt">{{featuredPost.excerpt}}</div>
  {{/link-to}}
  <div class="featured-posts">
    {{#each featuredPosts as |post|}}
      {{#link-to "post" post.canonicalId}}
        {{#if post.photo}}
          <div class="image" style={{backgroundImageStyle post.photo.imageUrl}}></div>
        {{/if}}
        <div class="content">
          <h4>{{post.title}}</h4>
          <div class="published-at">{{formatDate post.publishedAt day="numeric" month="long" year="numeric"}}</div>
        </div>
      {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="more-posts">
  {{#each morePosts as |post|}}
    {{#link-to 'post' post.canonicalId}}
      <h4>{{post.title}}</h4>
      <div class="published-at">{{formatDate post.publishedAt day="numeric" month="long" year="numeric"}}</div>
    {{/link-to}}
  {{/each}}
</div>