<section class="intro" style="background-image: url({{coverImageUrl}});">
  <div>
    <h1>{{fullName}}</h1>
    <div class="profession">{{profession}}</div>
    <div class="location">{{homeLocation}}</div>
    <ul>
      <li class="geolocation">Currently in <span>{{lastGeolocation.neighborhood}}</span></li>
      <li class="last-checkin">Checked in 1 hour ago at <span>{{lastCheckin.name}}</span></li>
      <li class="weather">Experiencing <span>{{lastWeatherExperience.description}}</span></li>
      <li class="last-published">Last published <span>{{describe-update lastUpdate}}</span></li>
    </ul>
  </div>
</section>

<section class="history">
  <h2>A little history</h2>
  <div class="timeline">
    <div class="birthday">{{formatDate birthday day="numeric" month="long" year="numeric"}}</div>
    <div class="today">{{formatDate today day="numeric" month="long" year="numeric"}}</div>
  </div>
  <div class="content">
    {{markdown-to-html markdown=history}}
  </div>
</section>

<section class="photos">
  <h2>Photos</h2>
  <div>
    {{#each photos as |photo|}}
      <a href="#" style="background-image: url({{photo.imageUrl}})"></a>
    {{/each}}
  </div>
  <a href="#">View all photos</a>
</section>

<section class="writing">
  <h2>Writing</h2>
  <div class="featured">
    <a href="#" class="featured-post">
      <div class="image" style="background-image: url({{featuredPost.image}})"></div>
      <h3>{{featuredPost.title}}</h3>
      <div class="published-at">{{formatDate featuredPost.publishedAt day="numeric" month="long" year="numeric"}}</div>
      <div class="excerpt">{{featuredPost.excerpt}}</div>
    </a>
    <div class="featured-posts">
      {{#each featuredPosts as |post|}}
        {{#link-to 'post' post}}
          <div class="image" style="background-image: url({{post.image}})"></div>
          <div class="content">
            <h4>{{post.title}}</h4>
            <div class="published-at">{{formatDate post.publishedAt day="numeric" month="long" year="numeric"}}</div>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
  <div class="more-posts">
    {{#each morePosts as |post|}}
      {{#link-to 'post' post}}
        <h4>{{post.title}}</h4>
        <div class="published-at">{{formatDate post.publishedAt day="numeric" month="long" year="numeric"}}</div>
      {{/link-to}}
    {{/each}}
  </div>
</section>

<section class="skills">
  <h2>Skills</h2>
  <ul class="featured">
    {{#each featuredSkills as |skill|}}
      <li style="background-image: url({{skill.imageUrl}})">{{skill.name}}</li>
    {{/each}}
  </ul>
  <ul class="main">
    {{#each skills as |skill|}}
      <li>
        <h5>{{skill.name}}</h5>
        <div>
          {{skill.description}}
          {{#each skill.details as |detail|}}
            <small>{{detail}}</small>
          {{/each}}
        </div>
      </li>
    {{/each}}
  </ul>
</section>

<section class="companies">
  <h2>Companies</h2>
  <ul>
    {{#each companies as |company|}}
      <li>
        <div>
          <div class="logo">
            <img src="{{company.logoUrl}}" />
          </div>
          <div class="info">
            <h4>{{company.name}}</h4>
            <div class="tagline">{{company.tagline}}</div>
            <ul class="roles">
              {{#each company.positions as |position|}}
                <li>
                  <div class="description">{{position.description}}</div>
                  <div class="timespan">{{position.timespan}}</div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</section>

<section class="links">
  <h2>Also find me on...</h2>
  <ul>
    {{#each links as |link|}}
      <li><a href="{{link.url}}" rel="me">{{link.name}}</a></li>
    {{/each}}
  </ul>
</section>