<section class="intro" style="background-image: url({{coverImageUrl}});">
  <div>
    <h1>{{fullName}}</h1>
    <div class="profession">{{profession}}</div>
    <div class="location">{{homeLocation}}</div>
    <ul>
      <li class="geolocation">Currently in <span>{{lastGeolocation.neighborhood}}</span></li>
      <li class="last-checkin">Checked in 1 hour ago at <span>{{lastCheckin.name}}</span></li>
      <li class="weather">Experiencing <span>{{lastWeatherExperience.description}}</span></li>
      <li class="last-published">Last published <span>Avinguda 4th Avenue</span></li>
    </ul>
  </div>
</section>

<section class="history">
  <h2>A little history</h2>
  <div class="timeline">
    <div class="birthday">{{formatDate birthday day="numeric" month="long" year="numeric"}}</div>
    <div class="today">{{formatDate today day="numeric" month="long" year="numeric"}}</div>
  </div>
  <div class="content">
    {{markdown-to-html markdown=history}}
  </div>
</section>

<section class="photos">
  <h2>Photos</h2>
  <div>
    {{#each photos as |photo|}}
      <a href="#" style="background-image: url({{photo.imageUrl}})"></a>
    {{/each}}
  </div>
  <a href="#">View all photos</a>
</section>

<section class="writing">
  <h2>Writing</h2>
  <div class="featured">
    <a href="#" class="featured-post">
      <div class="image" style="background-image: url({{featuredPost.image}})"></div>
      <h3>{{featuredPost.title}}</h3>
      <div class="published-at">{{formatDate featuredPost.publishedAt day="numeric" month="long" year="numeric"}}</div>
      <div class="excerpt">{{featuredPost.excerpt}}</div>
    </a>
    <div class="featured-posts">
      {{#each featuredPosts as |post|}}
        {{#link-to 'post' post}}
          <div class="image" style="background-image: url({{post.image}})"></div>
          <div class="content">
            <h4>{{post.title}}</h4>
            <div class="published-at">{{formatDate post.publishedAt day="numeric" month="long" year="numeric"}}</div>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
  <div class="more-posts">
    {{#each morePosts as |post|}}
      {{#link-to 'post' post}}
        <h4>{{post.title}}</h4>
        <div class="published-at">{{formatDate post.publishedAt day="numeric" month="long" year="numeric"}}</div>
      {{/link-to}}
    {{/each}}
  </div>
</section>

<section class="skills">
  <h2>Skills</h2>
  <ul class="featured">
    <li style="background-image: url(/images/components/section/skills/laptop-code.svg)">Web&nbsp;design &amp; development</li>
    <li style="background-image: url(/images/components/section/skills/mobile-devices.svg)">Mobile&nbsp;design &amp; development</li>
    <li style="background-image: url(/images/components/section/skills/layers.svg)">Platform &amp; API&nbsp;design</li>
    <li style="background-image: url(/images/components/section/skills/desktop-graph.svg)">Product &amp; marketing&nbsp;analytics</li>
  </ul>
  <ul class="main">
    <li>
      <h5>Programming Languages</h5>
      <div>JavaScript, CoffeeScript, Ruby, PHP, Objective-C</div>
    </li>
    <li>
      <h5>Markup Languages</h5>
      <div>HTML, CSS, LESS</div>
    </li>
    <li>
      <h5>Frameworks</h5>
      <div>Express, Ember.js, Rails, Symfony</div>
    </li>
    <li>
      <h5>Runtime Environments</h5>
      <div>Node.js</div>
    </li>
    <li>
      <h5>Creative Tools</h5>
      <div>Sublime Text, Sketch, Photoshop, Litmus</div>
    </li>
    <li>
      <h5>Collaboration Tools</h5>
      <div>GitHub, Codeship, Pivotal Tracker, Trello, Asana, Slack, Google Hangouts, Skype </div>
    </li>
    <li>
      <h5>Preferred Methodology</h5>
      <div>Kanban</div>
    </li>
    <li>
      <h5>User Management Services</h5>
      <div>Mixpanel, Intercom</div>
    </li>
    <li>
      <h5>Languages</h5>
      <div>English, Spanish</div>
    </li>
    <li>
      <h5>Formal Education</h5>
      <div>
        Bowdoin College ´07
        <small>Economics &amp; Government and Legal Studies</small>
        <small>Concentration in Political Theory, summa&nbsp;cum&nbsp;laude</small>
      </div>
    </li>
  </ul>
</section>

<section class="companies">
  <h2>Companies</h2>
  <ul>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/first-opinion.svg" />
        </div>
        <div class="info">
          <h4>First Opinion</h4>
          <div class="slogan">The free way to talk with a doctor</div>
          <ul class="roles">
            <li>
              <div class="description">Designer &amp; developer</div>
              <div class="timespan">Spring 2016</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/kite.svg" />
        </div>
        <div class="info">
          <h4>KITE Solutions</h4>
          <div class="slogan">The emerging technology solutions marketplace</div>
          <ul class="roles">
            <li>
              <div class="description">Co-founder &amp; board member</div>
              <div class="timespan">2012&ndash;Present</div>
            </li>
            <li>
              <div class="description">Product director</div>
              <div class="timespan">2012&ndash;2015</div>
            </li>
            <li>
              <div class="description">Designer &amp; developer</div>
              <div class="timespan">2012&ndash;2014</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/digit.svg" />
        </div>
        <div class="info">
          <h4>Hello Digit, Inc.</h4>
          <div class="slogan">Save money, without thinking about it</div>
          <ul class="roles">
            <li>
              <div class="description">Designer &amp; developer</div>
              <div class="timespan">2013&ndash;2016</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/live-ultimate.svg" />
        </div>
        <div class="info">
          <h4>Live Ultimate</h4>
          <div class="slogan">Whole skin care</div>
          <ul class="roles">
            <li>
              <div class="description">Designer &amp; developer</div>
              <div class="timespan">Spring 2016</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/plancast.svg" />
        </div>
        <div class="info">
          <h4>Plancast</h4>
          <div class="slogan">The best way to discover events and share plans with friends</div>
          <ul class="roles">
            <li>
              <div class="description">Founder, CEO &amp; board member</div>
              <div class="timespan">2009&ndash;2011</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/lift.svg" />
        </div>
        <div class="info">
          <h4>Lift</h4>
          <div class="slogan">Unlock your potential</div>
          <ul class="roles">
            <li>
              <div class="description">Head of product</div>
              <div class="timespan">2011&ndash;2012</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/techcrunch.svg" />
        </div>
        <div class="info">
          <h4>TechCrunch</h4>
          <div class="slogan">The latest technology news and information on startups</div>
          <ul class="roles">
            <li>
              <div class="description">Writer, product manager &amp; designer</div>
              <div class="timespan">2007&ndash;2009</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</section>

<section class="links">
  <h2>Also find me on...</h2>
  <ul>
    {{#each links as |link|}}
      <li><a href="{{link.url}}" rel="me">{{link.name}}</a></li>
    {{/each}}
  </ul>
</section>