<section class="intro">
  <div>
    <h1>Mark Hendrickson</h1>
    <div class="profession">Application and website creator</div>
    <div class="location">Barcelona, Spain</div>
    <ul>
      <li class="current-location">Currently in <span>Dreta de L'Eixample</span></li>
      <li class="last-checkin">Checked in 1 hour ago at <span>True Artisan Cafe</span></li>
      <li class="weather">Experiencing <span>warm weather and clear skies</span></li>
      <li class="last-published">Last published <span>Avinguda 4th Avenue</span></li>
    </ul>
  </div>
</section>

<section class="history">
  <h2>A little history</h2>
  <div class="timeline">
    <div class="birthday">June 8, 1985</div>
    <div class="today">June 4, 2016</div>
  </div>
  <div class="content">
    <p>I grew up in an idyllic town called Menlo Park, just south of San Francisco in Northern California and at the heart of Silicon Valley.</p>

    <p>Long before it was known as the home of Facebook’s headquarters, I played roller hockey in its streets and paintballed in its backyards, having little care in the world beyond getting my homework done and fitting in at school.</p>

    <p>Somewhere in my early teenage years, I became intrigued by some of the earliest WYSIWYG website creators, such as by Netscape in the mid-nineties. And soon I convinced my parents to enlist me in a summer programming course, where I struggled to understand the concept of variables as demonstrated by a set of cups and marbles. The combination of these experiences formed my introduction to both web design and programming, two passions I’ve pursued continuously ever since, carrying them into my adult life as a profession.</p>

    <p>Despite my early interest in technology, I studied liberal arts at Bowdoin College, majoring in government and economics and developing a particular interest in the philosophy of Friedrich Nietzsche. However, upon graduation I returned to the Bay Area to work for TechCrunch, wherein I caught the bug to found my first consumer tech startup, a social events application called Plancast, for which I was CEO until its sale to ACTIVE Network. I then parlayed that invaluable experience into a series of contributing roles at other early-stage startups, variably as product director, designer or developer as projects and teams have required.</p>

    <p>While my job title varies, I prefer to work across the entire stack of software projects since I believe the highest quality work comes from a thorough – yet generalized – proficiency in all parts.</p>

    <p>After developing a healthy concern that the familiarity and comfort of Silicon Valley would stunt my personal growth, I moved away, first to New York City for a spell then abroad to Barcelona, Spain where I live today and from where I work remotely on projects with collaborators across the world.</p>
  </div>
</section>

<section class="photos">
  <h2>Photos</h2>
  <div>
    <a href="#" style="background-image: url(/images/components/section/photos/1.png)"></a>
    <a href="#" style="background-image: url(/images/components/section/photos/2.png)"></a>
    <a href="#" style="background-image: url(/images/components/section/photos/3.png)"></a>
    <a href="#" style="background-image: url(/images/components/section/photos/4.png)"></a>
    <a href="#" style="background-image: url(/images/components/section/photos/5.png)"></a>
    <a href="#" style="background-image: url(/images/components/section/photos/6.png)"></a>
    <a href="#" style="background-image: url(/images/components/section/photos/7.png)"></a>
    <a href="#" style="background-image: url(/images/components/section/photos/8.png)"></a>
    <a href="#" style="background-image: url(/images/components/section/photos/9.png)"></a>
  </div>
  <a href="#">View all photos</a>
</section>

<section class="writing">
  <h2>Writing</h2>
  <div class="featured">
    <a href="#" class="featured-post">
      <div class="image" style="background-image: url({{featuredPost.image}})"></div>
      <h3>{{featuredPost.title}}</h3>
      <div class="published-at">{{post.publishedAt}}</div> <!-- {{formatDate post.publishedAt '%B %-d, %Y'}} -->
      <div class="excerpt">{{featuredPost.excerpt}}</div>
    </a>
    <div class="featured-posts">
      {{#each featuredPosts as |post|}}
        {{#link-to 'post' post}}
          <div class="image" style="background-image: url({{post.image}})"></div>
          <div class="content">
            <h4>{{post.title}}</h4>
            <div class="published-at">{{post.publishedAt}}</div>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
  <div class="more-posts">
    {{#each morePosts as |post|}}
      {{#link-to 'post' post}}
        <h4>{{post.title}}</h4>
        <div class="published-at">{{post.publishedAt}}</div>
      {{/link-to}}
    {{/each}}
  </div>
</section>

<section class="skills">
  <h2>Skills</h2>
  <ul class="featured">
    <li style="background-image: url(/images/components/section/skills/laptop-code.svg)">Web&nbsp;design &amp; development</li>
    <li style="background-image: url(/images/components/section/skills/mobile-devices.svg)">Mobile&nbsp;design &amp; development</li>
    <li style="background-image: url(/images/components/section/skills/layers.svg)">Platform &amp; API&nbsp;design</li>
    <li style="background-image: url(/images/components/section/skills/desktop-graph.svg)">Product &amp; marketing&nbsp;analytics</li>
  </ul>
  <ul class="main">
    <li>
      <h5>Programming Languages</h5>
      <div>JavaScript, CoffeeScript, Ruby, PHP, Objective-C</div>
    </li>
    <li>
      <h5>Markup Languages</h5>
      <div>HTML, CSS, LESS</div>
    </li>
    <li>
      <h5>Frameworks</h5>
      <div>Express, Ember.js, Rails, Symfony</div>
    </li>
    <li>
      <h5>Runtime Environments</h5>
      <div>Node.js</div>
    </li>
    <li>
      <h5>Creative Tools</h5>
      <div>Sublime Text, Sketch, Photoshop, Litmus</div>
    </li>
    <li>
      <h5>Collaboration Tools</h5>
      <div>GitHub, Codeship, Pivotal Tracker, Trello, Asana, Slack, Google Hangouts, Skype </div>
    </li>
    <li>
      <h5>Preferred Methodology</h5>
      <div>Kanban</div>
    </li>
    <li>
      <h5>User Management Services</h5>
      <div>Mixpanel, Intercom</div>
    </li>
    <li>
      <h5>Languages</h5>
      <div>English, Spanish</div>
    </li>
    <li>
      <h5>Formal Education</h5>
      <div>
        Bowdoin College ´07
        <small>Economics &amp; Government and Legal Studies</small>
        <small>Concentration in Political Theory, summa&nbsp;cum&nbsp;laude</small>
      </div>
    </li>
  </ul>
</section>

<section class="companies">
  <h2>Companies</h2>
  <ul>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/first-opinion.svg" />
        </div>
        <div class="info">
          <h4>First Opinion</h4>
          <div class="slogan">The free way to talk with a doctor</div>
          <ul class="roles">
            <li>
              <div class="description">Designer &amp; developer</div>
              <div class="timespan">Spring 2016</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/kite.svg" />
        </div>
        <div class="info">
          <h4>KITE Solutions</h4>
          <div class="slogan">The emerging technology solutions marketplace</div>
          <ul class="roles">
            <li>
              <div class="description">Co-founder &amp; board member</div>
              <div class="timespan">2012&ndash;Present</div>
            </li>
            <li>
              <div class="description">Product director</div>
              <div class="timespan">2012&ndash;2015</div>
            </li>
            <li>
              <div class="description">Designer &amp; developer</div>
              <div class="timespan">2012&ndash;2014</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/digit.svg" />
        </div>
        <div class="info">
          <h4>Hello Digit, Inc.</h4>
          <div class="slogan">Save money, without thinking about it</div>
          <ul class="roles">
            <li>
              <div class="description">Designer &amp; developer</div>
              <div class="timespan">2013&ndash;2016</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/live-ultimate.svg" />
        </div>
        <div class="info">
          <h4>Live Ultimate</h4>
          <div class="slogan">Whole skin care</div>
          <ul class="roles">
            <li>
              <div class="description">Designer &amp; developer</div>
              <div class="timespan">Spring 2016</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/plancast.svg" />
        </div>
        <div class="info">
          <h4>Plancast</h4>
          <div class="slogan">The best way to discover events and share plans with friends</div>
          <ul class="roles">
            <li>
              <div class="description">Founder, CEO &amp; board member</div>
              <div class="timespan">2009&ndash;2011</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/lift.svg" />
        </div>
        <div class="info">
          <h4>Lift</h4>
          <div class="slogan">Unlock your potential</div>
          <ul class="roles">
            <li>
              <div class="description">Head of product</div>
              <div class="timespan">2011&ndash;2012</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="logo">
          <img src="/images/components/section/companies/techcrunch.svg" />
        </div>
        <div class="info">
          <h4>TechCrunch</h4>
          <div class="slogan">The latest technology news and information on startups</div>
          <ul class="roles">
            <li>
              <div class="description">Writer, product manager &amp; designer</div>
              <div class="timespan">2007&ndash;2009</div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</section>

<section class="links">
  <h2>Also find me on...</h2>
  <ul>
    <li><a href="https://about.me/mark" rel="me">About.me</a></li>
    <li><a href="http://amzn.com/w/1ON8LLEQMTWIA" rel="me">Amazon</a></li>
    <li><a href="https://angel.co/mhendric" rel="me">AngelList</a></li>
    <li><a href="https://www.airbnb.com/users/show/4509964" rel="me">Airbnb</a></li>
    <li><a href="https://www.behance.net/mhendric" rel="me">Behance</a></li>
    <li><a href="http://dribbble.com/mhendric" rel="me">Dribbble</a></li>
    <li><a href="https://news.ycombinator.com/user?id=mhendric" rel="me">Hacker News</a></li>
    <li><a href="http://instagram.com/mhendric" rel="me">Instagram</a></li>
    <li><a href="http://facebook.com/markmhendrickson" rel="me">Facebook</a></li>
    <li><a href="https://foursquare.com/markymark" rel="me">Foursquare</a></li>
    <li><a href="http://github.com/markmhx" rel="me">GitHub</a></li>
    <li><a href="https://plus.google.com/+MarkHendrickson" rel="me">Google+</a></li>
    <li><a href="http://www.linkedin.com/in/markmhendrickson" rel="me">LinkedIn</a></li>
    <li><a href="https://medium.com/@markymark" rel="me">Medium</a></li>
    <li><a href="http://www.pinterest.com/mhendric/" rel="me">Pinterest</a></li>
    <li><a href="http://www.quora.com/Mark-Hendrickson" rel="me">Quora</a></li>
    <li><a href="http://www.rdio.com/#/people/mhendric/" rel="me">Rdio</a></li>
    <li><a href="http://stackoverflow.com/users/1816956/mark-hendrickson" rel="me">Stack Overflow</a></li>
    <li><a href="http://twitter.com/markymark" rel="me">Twitter</a></li>
    <li><a href="http://markmhendrickson.yelp.com/" rel="me">Yelp</a></li>
  </ul>
</section>